

h1{
    text-align: center;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=radio], select {
    cursor: pointer;
  }

  input[type=checkbox], select {
    cursor: pointer;
  }

  .food{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .gender{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    background-color: skyblue;
    color: black;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4CAF50;
    width: 100%;

  }

  .address{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


.thead{
    width: 50px;
    height: 10px;
    border: 1px solid black;
    box-sizing: border-box;
  }

  .tbody{
    height: 10px;
    width: 50px;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .body{
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
  }

 th, td {
  padding: 10px;
 }

  /* @media screen and (min-width:992px) {
    table{
      width: 75%;
    }
  }

  @media screen and (max-width:992px) {
    table{
      width: 50%;
    }
  }

  @media screen and (max-width:768px) {
    table{
      width: 30%;
    }
  }

  @media screen and (min-width:992px) {
    body{
      width: 75%;
    }
  }

  @media screen and (max-width:768px) {
    body{
      width: 50%;
    }
  }

  @media screen and (max-width:480px) {
    body{
      width: 30%;
    }
  } */

  